.app-header{
    background-image: url('../../assets/bg-header.png');
    background-size: cover;
    background-color: rgba(31, 60, 93, 0.411);
    background-blend-mode: multiply; 

    @apply py-28 text-center my-0;
}
.title{
    @apply text-white font-bold text-6xl;
}

@media (max-width: 800px) {
    .app-header{
        @apply py-20 w-full;
    }
    .title{
        @apply text-5xl;
    }
}