<div class="app-table">
    <div class="no-data text-center" *ngIf="Products.length == 0">
        <h1>There is no employee added yet!</h1>
    </div>
    <div *ngIf="Products.length !== 0">
        <h1>Fake Store API Product List</h1>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product Image</th>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Description</th>
                        <th>Category</th>
                        <!-- <th>Product Name</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let prod of Products">
                      <td>{{prod.id}}</td>
                      <td>
                          <img src={{prod.image}} alt={{prod.title}}/>
                      </td>
                      <td>{{prod.title}}</td>
                      <td> $ {{prod.price}}</td>
                      <td>{{prod.description}}</td>
                      <td>{{prod.category}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>